<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAn0qmQEeqDK5NQ-h9_JLxHJVjpRqeDHK8</string>
	<key>GCM_SENDER_ID</key>
	<string>644442202771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groom.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>groom-c6593</string>
	<key>STORAGE_BUCKET</key>
	<string>groom-c6593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644442202771:ios:6954060a9659da3a3b6366</string>
	<key>DATABASE_URL</key>
	<string>https://groom-c6593-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>